body {

  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  background: #f1f1f1;
}

p,
a {
  font-size: 18px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #8ed61d;
}

section {
  position: relative;
}

a:hover {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

button:focus {
  outline: 1px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

ul {
  padding: 0px;
  position: relative;
  list-style: none;
}

.bg_green {
  background-color: #16774A;
}


.mobile_landscape {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(22, 119, 74);
  display: none;
}

input.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}

input.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

input.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

/**/

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  color: #fff;

  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.section {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: 1.5s linear;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section:nth-child(1) {
  z-index: 10;
}

.section:nth-child(2) {

  z-index: 9;
}

.section:nth-child(3) {

  z-index: 8;
}

.section:nth-child(4) {
  z-index: 7;
}

.section.fp-completely.active {
  z-index: 20;
}

.section.active .content-wrapper {
  transform: translateY(-20vh);
  transition: all 3s cubic-bezier(0.22, 0.44, 0, 1) !important;
}

.section.fp-completely .content-wrapper {
  transform: translateY(20vh);
  transition: all 3s cubic-bezier(0.22, 0.44, 0, 1) !important;
}

.section.fp-completely.active .content-wrapper {
  margin-top: 0;
  transform: translateY(0);
  position: relative;
}

.section.prev.down {
  animation-name: toup;
}

.section.active.up {
  animation-name: fromup;
}

.section.active.down {
  animation-name: fromdown;
  z-index: 12;
}

.section.next.up {
  animation-name: todown;
  z-index: 12;
}

@keyframes fromdown {
  from {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes toup {
  from {
    z-index: 20;
    transform: translateY(0%);
  }

  100% {
    z-index: 20;
    transform: translateY(-100%);
  }
}

@keyframes fromup {
  from {
    z-index: 20;
    transform: translateY(-100%);
  }

  100% {
    z-index: 20;
    transform: translateY(0%);
  }
}

@keyframes todown {
  from {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(50%);
  }
}


/********************/

header {
  position: fixed;
  top: 75px;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_box {
  position: relative;
}

.text_box h4 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 10px;
  color: #E5FC46;
  line-height: 33px;
}

.text_box h2 {
  font-size: 72px;
  font-weight: 600;
  line-height: 95px;
}

.text_box h3 {
  font-size: 48px;
}

section#sec1 .text_box h2 {
  letter-spacing: 5px;
}

img.move_1 {
  position: absolute;
  left: 0;
  top: 0;
}

img.move_3 {
  position: absolute;
  left: 0;
  bottom: 0;
}

img.move_4 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

section#about .text_box h2 {
  letter-spacing: normal;
}

.text_box p {
  font-size: 26px;
  line-height: 45px;
  font-family: Open Sans;
  font-weight: 600;
}

img.move_5 {
  position: absolute;
  right: 0;
  bottom: 0;
}


.animate_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animate_img .circle_img {
  -webkit-animation: rotation 30s linear infinite;
  -o-animation: rotation 30s infinite linear;
  animation: rotation 30s linear infinite;
}

.animate_img .circle_img2 {
  position: absolute;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}


@keyframes myOrbit1 {
  from {
    transform: rotate(360deg) translateX(350px) rotate(-360deg);
  }

  to {
    transform: rotate(0deg) translateX(350px) rotate(0deg);
  }
}

@keyframes myOrbit2 {
  from {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

img.move_2 {
  -webkit-animation: mover 3s infinite alternate;
  animation: mover 3s infinite alternate;
}


img.move_6 {
  position: absolute;
  bottom: 5px;
  left: 7%;
  width: 16%;
}

img.move_6_2 {
  position: absolute;
  bottom: 45px;
  left: 38%;
}

img.move_6_3 {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.text_box ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.text_box ul li {
  padding: 0px 20px;
}

.text_box ul li small {
  display: block;
  margin-top: 10px;
}

img.move7 {
  position: absolute;
  top: 30px;
  right: 0;
}

img.move8 {
  position: absolute;
  top: -65px;
  left: 0;
}

img.move9 {
  position: absolute;
  bottom: 0px;
  left: 0;
}

img.move10 {
  position: absolute;
  bottom: 0px;
  right: 10%;
}

img.move11 {
  position: absolute;
  bottom: 40%;
  right: -50px;
}

img.move12 {
  position: absolute;
  bottom: 37%;
  left: 7%;
}

img.move13 {
  position: absolute;
  left: 50%;
  bottom: 24%;
  z-index: -1;
  animation-name: myOrbit2;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

img.move14 {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation-name: myOrbit1;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

img.move15 {
  position: absolute;
  top: 0px;
  right: 30%;
}

section#sec5 .text_box h2 {
  font-size: 40px;
}


.form_box fieldset input,
.form_box fieldset select,
.form_box fieldset textarea {
  border-bottom: 0px solid #ddd;
  border-radius: 0px;
  font-size: 18px;
  height: 60px;
}

.form_box .form-control:focus {
  box-shadow: none;
}

.form_box {
  font-family: Open Sans;
}

input.input_field_send {
  background: #fff;
  border: 0px;
  padding: 23px 100px;
  font-size: 22px;
  font-weight: 600;
  color: #48bed8;
}

img.move16 {
  position: absolute;
  bottom: 0;
  left: 0;
}

img.move17 {
  position: absolute;
  right: 30px;
  bottom: 0;
}

img.move18 {
  position: absolute;
  left: 10%;
  top: 20px;
}

img.move19 {
  position: absolute;
  right: 0;
  top: 0px;
}

.text_box ul li img {
  width: 80px;
}

a.arrow_down_btn {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
  font-size: 16px;
}

a.arrow_down_btn:hover,
a.arrow_top_btn:hover {
  color: #fff;
}

a.arrow_top_btn {
  position: absolute;
  left: 10%;

  margin: auto;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
  font-size: 16px;
}


@media (max-width:1440px) {

  header {

    top: 60px;
  }

  .text_box h2 {
    font-size: 60px;
    line-height: 85px;
  }



  .text_box h4 {
    font-size: 20px;
  }

  .text_box p {
    font-size: 20px;
    line-height: 40px;
  }

  .text_box h3 {
    font-size: 36px;
  }

  section#sec3 .text_box h2 {
    padding-right: 100px;
  }

  section#sec3 .text_box p {
    padding-right: 100px;
  }

  .animate_img img {
    max-width: 250px;
  }

  img.move_1 {
    max-width: 20%;
  }

  img.move_6 {
    width: 17%;
    left: 3%;
  }

  img.move_6_2 {

    width: 43%;
  }

  img.move_6_3 {
    bottom: 5%;
    right: 2%;
    width: 11%;
  }

  img.move7 {
    max-width: 20%;
  }

  img.move8 {
    max-width: 30%;
  }

  img.move9 {
    max-width: 30%;
  }

  img.move10 {
    right: 5%;
    max-width: 30%;
  }

  img.move15 {
    max-width: 200px;
  }

  img.move16 {
    max-width: 20%;
  }

  img.move17 {
    max-width: 25%;
  }

  img.move18 {
    left: 2%;

  }

  img.move19 {

    max-width: 13%;
  }
}

@media (max-width:1366px) {
  section#sec5 .text_box h2 {
    font-size: 36px;
    line-height: 65px;
  }



  .text_box p {
    font-size: 24px;
  }

  .animate_img img {
    max-width: 225px;
  }


  img.move_3 {
    max-width: 26%;
  }

  img.move_4 {

    max-width: 25%;
  }

  img.move_5 {

    max-width: 18%;
  }

  img.move_6_2 {
    width: 38%;
  }

  img.move_6_3 {
    bottom: 5%;
    right: 5%;
    width: 12%;
  }

  img.move8 {
    max-width: 28%;
  }

  img.move15 {
    max-width: 180px;
  }

  img.move7 {
    max-width: 18%;
  }

  img.move9 {
    max-width: 28%;
  }

  img.move10 {

    max-width: 28%;
  }

  img.move17 {
    max-width: 22%;
  }

  img.move18 {
    left: 3%;
    top: 20px;
    max-width: 20%;
  }

}

@media(min-width:1300px) and (max-width:1366px) {
  .text_box h3 {
    font-size: 40px;
  }

  .text_box p {
    font-size: 20px;
    line-height: 35px;
  }

  input.input_field_send {
    padding: 10px 80px;
    font-size: 18px;
  }

  section#sec5 .text_box h2 {
    font-size: 30px;
    line-height: 45px;
  }

  img.move_6_2 {

    max-width: 33%;
  }

  img.move_3 {
    max-width: 20%;
  }

  img.move_4 {
    max-width: 20%;
  }

  img.move_5 {
    max-width: 15%;
  }

  .text_box h2 {
    font-size: 48px;
    line-height: 65px;
  }

  img.img_move_new1 {
    max-width: 80%;
    float: right;
  }

  .animate_img img {
    max-width: 175px;
  }

  .form_box fieldset input,
  .form_box fieldset select,
  .form_box fieldset textarea {

    font-size: 15px;
    height: 45px;
  }

  a.arrow_down_btn,
  a.arrow_top_btn {

    font-size: 13px;
  }
}

@media (max-width:1192px) {

  img.move11 {
    max-width: 12%;
  }

  .text_box ul li img {
    width: 60px;
  }

  img.move19 {

    max-width: 14%;
  }

  img.move15 {
    max-width: 135px;
  }

  .text_box h3 {
    font-size: 36px;
  }

  .text_box p {
    font-size: 20px;
  }

  .text_box h2 {
    font-size: 50px;
    line-height: 70px;
  }

  section#sec3 .text_box h2,
  section#sec3 .text_box p {
    padding-right: 0px;
  }
}

@media (max-width:992px) {
  section#sec3 .text_box h2 {
    padding-right: 0px;
  }

  .text_box p br {
    display: none;
  }

  .text_box h3 {
    font-size: 48px;
  }

  section#sec5 .text_box h2 {
    font-size: 30px;
    line-height: 50px;
  }

  img.move12 {
    position: absolute;
    bottom: 24%;

  }
}

@media(max-width:767px) {
  .text_box h3 {
    font-size: 30px;
  }

  .text_box {

    padding: 0px 15px;
  }

  a.arrow_top_btn {

    left: 4%;
    bottom: 10px;
  }
}


@media(min-width:479px) and (max-width:767px) {

  div#homepage,
  header {
    opacity: 0;
  }

  .mobile_landscape {
    display: flex;
    z-index: 9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }


}

@media (max-width:478px) {
  header {
    top: 30px;
  }

  img.move_2 {
    max-width: 70%;
  }

  .text_box h4 {
    font-size: 18px;
    letter-spacing: 5px;
  }

  .text_box h2 {
    font-size: 40px;
    line-height: 50px;
  }

  img.move_4 {
    max-width: 35%;
  }

  img.move_3 {
    max-width: 45%;
  }

  header img {
    max-width: 225px !important;
  }

  .text_box {
    text-align: center;
  }

  .text_box p {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }

  .animate_img img {
    max-width: 160px;
  }

  .text_box ul li {
    padding: 0px 8px;
  }

  .text_box ul li img {
    width: 50px;
    min-width: 50px;
  }

  img.move15 {
    max-width: 60px;
  }

  img.move8 {
    max-width: 25%;
    top: -15px;
  }

  img.move7 {
    max-width: 28%;
    top: 100px;
  }

  img.move9 {
    max-width: 40%;
  }

  img.move10 {
    max-width: 40%;
    right: 2%;
  }

  section#sec5 .text_box h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .form_box fieldset input,
  .form_box fieldset select,
  .form_box fieldset textarea {

    font-size: 15px;
    height: 40px;
  }

  img.move12 {
    position: absolute;
    bottom: 18%;
    left: 1%;
  }

  input.input_field_send {
    padding: 12px 50px;
    font-size: 18px;
    color: #48bed8;
  }

  img.move17 {
    max-width: 36%;
    right: 0px;
  }
}

@media (max-width:375px) {
  section#sec5 .text_box h2 {
    font-size: 28px;
    line-height: 30px;
  }

  .text_box h3 {
    font-size: 26px;
  }

  .text_box h2 {
    font-size: 28px;
    line-height: 35px;
  }


  img.move7 {
    max-width: 22%;

  }

  section#sec4 .text_box {
    padding: 0px 0px;
  }

  .text_box ul li {
    padding: 0px 7px;
  }

  .form_box fieldset input,
  .form_box fieldset select,
  .form_box fieldset textarea {
    font-size: 14px;
    height: 35px;
  }

  input.input_field_send {
    padding: 8px 35px;
    font-size: 16px;
  }

}

@media (max-width:360px) {
  .text_box {
    padding: 0px 10px;
  }

  .text_box h3 {
    font-size: 24px;
  }

  .text_box p {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }

  .text_box ul li small {

    font-size: 11px;
  }

  .text_box h2 {
    font-size: 24px;
    line-height: 30px;
  }

  section#sec5 .text_box h2 {
    font-size: 22px;
    line-height: 25px;
  }

  img.move17 {
    max-width: 28%;
    right: 0px;
  }

  .animate_img img {
    max-width: 115px;
  }

  .text_box ul li {
    padding: 0px 5px;
  }

  header img {
    max-width: 190px !important;
  }

  img.move7 {
    max-width: 20%;
    top: 80px;
  }
}











@media (min-width:1200px) {


  .background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
    transform: translateY(30vh);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  }

  .background:first-child {
    background-color: rgb(22, 119, 74);
    transform: translateY(0vh);
  }

  .background:first-child .content-wrapper {
    transform: translateY(0vh);
  }

  .background:nth-child(2) {
    background-color: rgb(83, 15, 136);
  }

  .background:nth-child(3) {
    background-color: rgb(253, 186, 56);
  }

  .background:nth-child(4) {
    background-color: rgb(26, 21, 41);
  }

  .background:nth-child(5) {
    background-color: rgb(72, 190, 216);
  }

  /* Set stacking context of slides */
  .background:nth-child(1) {
    z-index: 5;
  }

  .background:nth-child(2) {
    z-index: 4;
  }

  .background:nth-child(3) {
    z-index: 3;
  }

  .background:nth-child(4) {
    z-index: 2;
  }

  .background:nth-child(5) {
    z-index: 1;
  }

  .content-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;


    transform: translateY(40vh);
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  }

  .content-title {
    font-size: 12vh;
    line-height: 1.4;
  }

  .background.up-scroll {
    transform: translate3d(0, 0vh, 0);
  }

  .background.up-scroll .content-wrapper {
    transform: translateY(0vh);
  }

  .background.up-scroll+.background {
    transform: translate3d(0, 30vh, 0);
  }

  .background.up-scroll+.background .content-wrapper {
    transform: translateY(30vh);
  }

  .background.down-scroll {
    transform: translate3d(0, -100vh, 0);
  }

  .background.down-scroll .content-wrapper {
    transform: translateY(40vh);
  }

  .background.down-scroll+.background:not(.down-scroll) {
    transform: translate3d(0, 0vh, 0);
  }

  .background.down-scroll+.background:not(.down-scroll) .content-wrapper {
    transform: translateY(0vh);
  }

}